# Visual Studio
*.db
*.opendb
*.vcproj
*.vcxproj
*.vcxproj.user
*.vcxproj.filter
*.vcxproj.filters
*.sln

# Binary files
*.o
*.dylib
*.so

# Misc
*.7z
*.zip
*.tar.gz

# Sublime text
*.sublime-project
*.sublime-workspace

# Directories we don't ever want to commit
bin
obj
ipch
[Rr]elease
[Dd]ebug
Secure
.vs
cov-int
Docker/reliable.io
docs

# Allow in source build
[Bb]uild*/
# Ignore qt files when importing CMakeLists
*.users
# Ignore CLion project files
*.idea
# For macOs users
.DS_Store